{#
Links for functions to configure NLP services.
#}

{% set folders = path('nlpservices.folders_configuration_form') %}
{% set keys = path('nlpservices.api_configuration_form') %}
{% set keysVerification = path('nlpservices.api_key_verification') %}
{% set activistCode = path('nlpservices.activist_code_configuration_form') %}
{% set responseCodes = path('nlpservices.response_code_configuration_form') %}
{% set surveyQuestion = path('nlpservices.survey_question_configuration_form') %}
{% set emails = path('nlpservices.email_configuration_form') %}
{% set electionCycle = path('nlpservices.election_configuration_form') %}
{% set importReports = path('nlpservices.import_reports_form') %}
{% set importAwards = path('nlpservices.import_awards_form') %}
{% set importUsers = path('nlpservices.import_user_accounts_form') %}
{% set ExportUsers = path('nlpservices.export_user_accounts_file') %}
{% set exportReports = path('nlpservices.export_voter_contact_reports_form') %}
{% set exportAwards = path('nlpservices.export_awards_file') %}
{% set forwardEmails = path('nlpservices.email_replies') %}


{% trans %}

    <h1>New site or new election</h1>
    <p>The following 7 steps are to create a new NLP Services site and set up a new election.   For just a new
        election, steps 3, 5 and 6 can be repeated with new information.</p>

    <ul>
        <li><a href={{ folders }}>Step 1: Create and prep file folders.</a></li>
        <li><a href={{ keys }}>Step 2: Build the database for API keys.</a></li>
        <li><a href={{ keysVerification }}>Step 2a: Verify the API keys work.</a></li>
        <li><a href={{ activistCode }}>Step 3: Set up the activist codes.</a></li>
        <li><a href={{ responseCodes }}>Step 4: Set up the canvass response codes.</a></li>
        <li><a href={{ electionCycle }}>Step 5: Set up the election date and name.</a></li>
        <li><a href={{ surveyQuestion }}>Step 6: Select the survey question.</a></li>
        <li><a href={{ emails }}>Step 7: Set up the email used by the site.</a></li>
    </ul>

    <h1>Rebuild a site</h1>
    <p>The next steps are needed if you are rebuilding a site for an existing NLP.</p>

    <ul>
        <li><a href={{ importReports }}>Step 8: Import historical voter contact reports.</a></li>
        <li><a href={{ importAwards }}>Step 9: Import NL Awards file.</a></li>
        <li><a href={{ importUsers }}>Step 10: Import Drupal user accounts.</a></li>
    </ul>

    <h1>Assist the Admin email</h1>
    <p>Manage common issues with the site email, typically NLs asking for help.</p>

    <ul>
        <li><a href={{ forwardEmails }}>Forward replies and bounced email notifications to the coordinator.</a></li>
    </ul>

    <h1>Archive election</h1>
    <p>The remaining steps are to retain the results of an election either to prepare to rebuild the
        site or to archive results.</p>

    <ul>
        <li><a href={{ ExportUsers }}>Export Drupal user accounts.</a></li>
        <li><a href={{ exportReports }}>Create a file with the voter contact reports for download.</a></li>
        <li><a href={{ exportAwards }}>Create a file with the NL awards for download.</a></li>
    </ul>

{% endtrans %}